<h1>Permissions</h1>

<p>You have access to <%= pluralize @products.size, 'product' %>:</p>
<ul>
<% @products.each do |p| %>
	<li><%=link_to p.title || "[title unknown]", shop_url(p) %>
<% end %>
</ul>

<p>Visit a <%= link_to "protected page", :action => :protected %>.

